.form{
  display:flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  margin: 40px auto;
}

@media screen and (min-width: 600px) {
  .form{
    display:flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (min-width: 1000px) {
  .form{
    display:flex;
    flex-direction: column;
    height: 30%;
    width: 30%;
    font-family: 'Roboto', sans-serif;
  }
}

.form__input{
  margin: 10px 0px;
  font-family: inherit;
}

.form__input--invalid{
  border: 2px solid red;
  border-radius: 4px;
  font-family: inherit;
}

.form__input--submit{
  font-family: inherit;
}

.form__datePicker{
  margin: 20px 0px;
}
